extends ../Layout/layout.pug
block content
    main.contenedor
        h3.texcenter Nuestros Proximos Cursos y Talleres
        .course
            div(class="courses__img")
                img(src="img/curso1.jpg", alt="Proximo curso")
            div(class="courses__description")
                h4 Técnicas de Extracción de Café
                p(class="courses__label") precio: 
                    span(class="courses__info") Gratis
                p(class="courses__label") Cupos: 
                    span(class="courses__info") 20
                p(class="courses__description-text") Curabitur a magna ultrices, sodales nunc sit amet, luctus ex. Curabitur ut efficitur libero. Cras vestibulum ligula erat, a eleifend nibh rutrum sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam erat volutpat. Sed ultricies felis quis eros dapibus consequat. Nulla felis mi, hendrerit non odio vitae, maximus dignissim augue. Fusce et enim ante. Pellentesque mauris mi, consequat eget cursus in, posuere ac massa.
        .course
            div(class="courses__img")
                img(src="img/curso2.jpg", alt="Proximo curso")
            div(class="courses__description")
                h4 Taller para Tostar y Moler Grano
                p(class="courses__label") precio: 
                    span(class="courses__info") Gratis
                p(class="courses__label") Cupos: 
                    span(class="courses__info") 20
                p(class="courses__description-text") Curabitur a magna ultrices, sodales nunc sit amet, luctus ex. Curabitur ut efficitur libero. Cras vestibulum ligula erat, a eleifend nibh rutrum sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam erat volutpat. Sed ultricies felis quis eros dapibus consequat. Nulla felis mi, hendrerit non odio vitae, maximus dignissim augue. Fusce et enim ante. Pellentesque mauris mi, consequat eget cursus in, posuere ac massa.
        .course
            div(class="courses__img")
                img(src="img/curso3.jpg", alt="Proximo curso")
            div(class="courses__description")
                h4 Recetas Avanzadas de Café
                p(class="courses__label") precio: 
                    span(class="courses__info") Gratis
                p(class="courses__label") Cupos: 
                    span(class="courses__info") 20
                p(class="courses__description-text") Curabitur a magna ultrices, sodales nunc sit amet, luctus ex. Curabitur ut efficitur libero. Cras vestibulum ligula erat, a eleifend nibh rutrum sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam erat volutpat. Sed ultricies felis quis eros dapibus consequat. Nulla felis mi, hendrerit non odio vitae, maximus dignissim augue. Fusce et enim ante. Pellentesque mauris mi, consequat eget cursus in, posuere ac massa.