extends ../Layout/layout.pug
block content
    main.contenedor
            h3.textcenter Sobre Nosotros
            .sobre-nosotros
                div(class="sobre-nosotros__img")
                    img(src="img/nosotros.jpg", alt="Sobre Nosotros")
                div(class="sobre-nosotros__text")
                    p Duis in dolor non magna pulvinar suscipit at porttitor purus. In fermentum lectus ac accumsan ultrices. Mauris rutrum orci ipsum, in ultrices enim vehicula ut. Fusce commodo tempus hendrerit.
                    p Suspendisse blandit velit sed augue eleifend accumsan. Fusce vulputate vestibulum odio ac facilisis. Suspendisse maximus nec sapien et sodales. Morbi consequat facilisis nunc eu bibendum. Sed faucibus felis quis felis luctus, in viverra turpis congue. Sed leo nulla, condimentum et egestas sit amet, dapibus finibus est. Etiam fringilla turpis vitae quam posuere viverra. Quisque dui augue, tempus sed est a, vehicula dictum velit. Proin condimentum lobortis lectus, vel interdum sem volutpat ac. Morbi blandit vitae magna non lobortis. Nulla facilisi. In ut purus sed est accumsan.
