header.header
    .contenedor
        .barra
            a.logo(href='/')
                h1.logo__nombre.no_margin.textcenter Blog
                    span.logo__nombre-bold DeCafe
            nav.navegacion
                a.navegacion__enlace(href='/nosotros') Nosotros
                a.navegacion__enlace(href='/cursos') Cursos
                a.navegacion__enlace(href='/contact') Contacto
    .header__text
        h2.no_margin Blog de cafe con consejos y cursos
        p.no_margin Aprende de los expertos con las mejores recetas y consejos